* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;;
    color: #242424;
}

body {
    background: linear-gradient(
        rgba(16, 113, 115, 0.85),
        rgba(16, 113, 115, 0.95)
    ), 
    url("../assets/film_backdrop.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 48px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

button {
    margin-top: 18px;
    padding: 16px 24px;
    border: none;
    border-radius: 24px;
    font-weight: bold;
    background-color: #ff914d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;
}

button:hover {
    background-color: #5fafb0;
    transform: scale(1.1);
}

button:active {
    transform: scale(.9);
}

.row {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.movie-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-details-section  {
    padding: 60px;
}

.movie-details-wrapper {
    background-color: #F2FBFB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 36px;
    animation: fadeOnScreen 600ms ease;
}

@keyframes fadeOnScreen {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 72px;
    gap: 24px;
}

.movie-details-poster__wrapper {
    background-color: #ff914d;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.movie-details-poster {
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

@media (max-width:1050px) {
    h1 {
        font-size: 36px;
    }

    p {
        font-size: 14px;
    }

    .movie-details-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .movie-details {
        max-width: 80%;
        
    }
   
}

@media (max-width: 750px) {
    h1 {
        font-size: 24px;
    }
}